﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Master_Pages/MasterPageNoPageHeader.Master" AutoEventWireup="true" CodeBehind="DashboardKnitting.aspx.cs" Inherits="MBTracker.Pages.DashboardKnitting" %>


<asp:Content ID="Content1" ContentPlaceHolderID="cpMain" runat="server">

<%--     <div class="widget">

                <div class="widget-body">--%>
                       
                   <div style="margin:auto;vertical-align:middle; height:575px;text-align:center">
                           <asp:Image ID="Image1" runat="server" ImageUrl="~/images/ForKnittingUnit2.jpg" style="padding-top:8%; height:400px"  /> 
                    </div>

<%--                </div>
            
     </div>--%>


</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="cpScript" runat="server">
</asp:Content>
