﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Master_Pages/MainMaster.Master" AutoEventWireup="true" CodeBehind="ManageCostingSheets.aspx.cs" Inherits="MBTracker.Pages.Buyers_and_Orders.ManageCostingSheets" %>


<asp:Content ID="Content1" ContentPlaceHolderID="cpMain" runat="server">
    <h1>Manage Consting sheets is coming soon...</h1>
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="cpScript" runat="server">
</asp:Content>
