﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Master_Pages/MainMaster.Master" AutoEventWireup="true" CodeBehind="ViewKnittingMachineSpareIssues.aspx.cs" Inherits="MBTracker.Pages.Knitting_Spares.ViewKnittingMachineSpareIssues" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cpMain" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpScript" runat="server">
</asp:Content>
